/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 100%;
  overflow-x: hidden;
  font-size: larger;
}

.app {
  position: relative;
  height: 100vh;
  background-image: url('image0.jpg');
  background-repeat: inherit;
  background-position: center;
  color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  font-family:  sans-serif;
  font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ae0606;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.start-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: rgb(6, 0, 5);
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #bf1818;
}

